.CPM-reaction-icon {
  padding: 20px;
}

.hover-text-like {
  display: inline-block;
  position: relative;
  text-decoration: none;
}
.hover-text-like:hover::after {
  content: attr(like-data-text);
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  padding: 3px;
  background-color: #333;
  color: #fff;
  border-radius: 5px;
  font-size: 14px;
}

.hover-text-love {
  display: inline-block;
  position: relative;
  text-decoration: none;
}
.hover-text-love:hover::after {
  content: attr(love-data-text);
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  padding: 3px;
  background-color: #333;
  color: #fff;
  border-radius: 5px;
  font-size: 14px;
}

.hover-text-laugh {
  display: inline-block;
  position: relative;
  text-decoration: none;
}
.hover-text-laugh:hover::after {
  content: attr(laugh-data-text);
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  padding: 3px;
  background-color: #333;
  color: #fff;
  border-radius: 5px;
  font-size: 14px;
}
.hover-text-angry {
  display: inline-block;
  position: relative;
  text-decoration: none;
}
.hover-text-angry:hover::after {
  content: attr(angry-data-text);
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  padding: 3px;
  background-color: #333;
  color: #fff;
  border-radius: 5px;
  font-size: 14px;
}

.cpm-reaction-icon-box{
  display: inline-block;
  padding-right: 5%;
  

}

.cpm-reactions-container {
  display: flex;
  align-content: center;
  align-items: center;
  flex-wrap: nowrap;
}